<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Uncial+Antiqua&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles/main.css">
    <title>TWISH</title>
</head>
<body>
    <div class="container" > 
        <footer class="py-3 my-4"> 
            <ul class="nav justify-content-center pb-5 mb-3 highlight-line custom-footer"> 
                <li class="nav-item">
                    <a href="/home" class="nav-link px-2  footer-link linkFooterColor">Home</a>
                </li> 
                <li class="nav-item">
                    <a href="/about" class="nav-link px-2  footer-link linkFooterColor">About</a>
                </li> 
                <li class="nav-item">
                    <a href="/services" class="nav-link px-2  footer-link linkFooterColor">Services</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link px-2  footer-link linkFooterColor">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="/gita" class="nav-link px-2  footer-link linkFooterColor">MyInspiration</a>
                </li>   
                <li class="nav-item">
                    <a href="/contact" class="nav-link px-2 footer-link linkFooterColor">Contact Us</a>
                </li> 
            </ul>
            <br> 
            <p class="text-center text-body-secondary footer-note">© 2025 Company, Inc</p> 
        </footer> 
    </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>      
</body>
</html>

